/* =============================================================================

	MAIN.CSS
	version: 1.7
	updated: 2009-03-14, 12:44 GMT+1

============================================================================= */

/* =============================================================================
HTML - styles
============================================================================= */
h1, h2, h3, h4, h5, h6, address, blockquote, dl, fieldset, ol, p, ul {margin:15px 0;}
h2{color: white}
a {color:#666666;}
a:hover, a:active, a:focus {color:#df0000;}
/* =============================================================================
HTML - without styles
============================================================================= */

table.nostyle {background:none !important;}

/* =============================================================================
HEADER
============================================================================= */
@media screen and (min-width: 768px){
	#menu {
		/*text-shadow:0 -1px 0 rgba(0,0,0,0.2);*/
		background-color: rgba(233,65,53,1);
		border-bottom: solid 1px rgba(255,255,255,0.1);
		height: 100px;
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	#menu {
		/*text-shadow:0 -1px 0 rgba(0,0,0,0.2);*/
		background-color: rgba(233,65,53,1);
		border-bottom: solid 1px rgba(255,255,255,0.1);
		height: 150px;
		width: 100%;
	}
}

#menu .nav{
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	font-weight: bold;
	overflow: hidden;
}

@media screen and (min-width: 768px){
	#menu .nav .log-navi{
		height: 100px;
		width: 260px;
		margin: 0;
		float: right;
		border-top-color: transparent !important;
		border-right-color: transparent !important;
		border-bottom-color: transparent !important;
	}
}

@media screen and (max-width: 768px){
	#menu .nav .log-navi{
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 100px;
		margin: 0;
		border-top-color: transparent !important;
		border-right-color: transparent !important;
		border-bottom-color: transparent !important;
	}
}

#menu .nav .log-navi img{
	margin: 10px;
	background-color: rgba(225,225,225, 0.5);
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 5px;
}
#menu .nav .log-navi input{
	margin: 0.3em 0;
}

@media screen and (min-width: 768px){
	#menu .nav .header-logo{
		margin: 5px 0px 0px 300px;
		height:90px;
	}
}

@media screen and (max-width: 768px){
	#menu .nav .header-logo{
		margin-top: 5px;
		height: 50px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

#menu .nav ul{
	color: #fff;
	list-style: none;
	margin: 10px;
	width: 150px;
	overflow: hidden;
}
#menu .nav ul li{
	display: block;
	margin: 1px 0px;
}
#menu .nav ul li a {
	color:#fff;
	cursor: pointer;
	background: rgba(255,255,255,0.5);
	font-weight: normal;
	text-decoration: none;
	display: block;
	padding: 0 5px;
}
#menu .nav ul li a:hover {
	text-decoration: none;
	background: rgba(255,255,255,0.2);
}
#menu .nav ul li a:active, #menu .navi ul li a:focus {color:rgba(255,255,255,0.85);}
#menu .nav ul li img {padding: 7px 5px;}
/* =============================================================================

/* =============================================================================
NAVIGATION
============================================================================= */
/*#aside {
	position: fixed;
	width:240px; 
	margin-right:0;
	left: 0;
	top:0;
	z-index: 100;
	height: 100%;
	position: fixed;
	background-color: #232323;
	box-shadow: inset -8px 0 10px rgba(0,0,0,0.1);
}
#aside ul li a img {margin-right: 10px}
#aside .desk {
	color: #FFF;
	display: block;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
#aside .boxmg{
	padding: 3px;
	background-color: #e94135;
	height: 100px;
	}
#aside .boxmg img{
	height: 92px;
	width: 95px;
	display: block;
	margin: 0 auto;

} 
#aside ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style:none;
	color:#fff;
}
#aside ul li a {
	border-bottom: solid 1px #232323;
	border-top: solid 1px #232323;
	background-color: #282828;
	color:#fff;
	display: block;
	padding: 7px 20px;
	text-decoration: none;
}
#aside ul li a:hover {
	background-color: rgba(233,65,53,0.8);
	text-decoration: none;
}
#aside ul li a:active, #aside ul li a:focus {background-color: rgba(233,65,53,0.5);}*/
.clear {clear:both;}
/* =============================================================================
CONTENT
============================================================================= */
#content{
}
@media screen and (min-width: 768px){
	#content h1{
	 	margin-top: 0;
	 	margin-bottom: 0;
		background-color: white;
	 	border-bottom: 1px solid #CCC;
	 	border-top: 1px solid #CCC;
	 	color:rgba(233,65,53,1);
	 	padding: 10px;
	 	font-size: 28px;
	}
}

@media screen and (max-width: 768px){
	#content h1{
	 	margin-top: 0;
	 	margin-bottom: 0;
		background-color: white;
	 	border-bottom: 1px solid #CCC;
	 	border-top: 1px solid #CCC;
	 	color:rgba(233,65,53,1);
	 	padding: 10px;
	 	font-size: 18px;
	}
}
.sitemap{background-color: #f6f6f6;font-weight: bold;color: #666;padding: 10px;}

@media screen and (min-width: 768px){
	#page{
		border: #CCC;
		background-color: white;
		margin: 2.0em;
		border: 1px solid #d9d9d9;
		max-width: 90.0em;
	}
}

@media screen and (max-width: 768px){
	#page{
		border: #CCC;
		background-color: white;
		margin: 2.0em;
		border: 1px solid #d9d9d9;
		max-width: 90.0em;
		font-size: 9px;
	}
}

#page form:before{
	content: "Form Data";
	padding: 10px;
	margin-bottom: 1.0em;
	display: block;
	background: rgba(233,65,53,1);
	font-weight: bold;
	color: white;
	font-size: 14px;
}

#content-chart{
	border: #CCC;
	background-color: white;
	margin: 2.0em;
	border: 1px solid #d9d9d9;
	max-width: 90.0em;
}
#content-chart form:before{
	content: "Form Data";
	padding: 10px;
	margin-bottom: 1.0em;
	display: block;
	background: rgba(233,65,53,1);
	font-weight: bold;
	color: white;
	font-size: 14px;
}

/* =============================================================================
OTHER STYLES
============================================================================= */
#add{
	display: inline !important;
	position: absolute;
	z-index: 1;
	right: 25px;
}
.bigger {font-size:120%;}
.smaller {font:85%/1.2 "tahoma",sans-serif;}
.red {color: red}
.block-ita{
	color: #999;
	padding: 0 0.65em;
	font-weight: 400;
	font-style: italic;
}
.qoute{
	text-align: center;
	color: white;
	padding-top: 40px;
	font-style: italic;
	font-weight: 600;
}
.adv{background:white;text-align: center;padding-top:60px;margin: 0px auto;display: block;width: 80%;overflow: hidden;}
.head-box{float: left;text-align: center;font-weight:bold; }
.head-box img{display:block;height: 60px;margin: 15px}
.malay-label{font-weight: 100;}

.biz-table{
}

@media screen and (min-width: 1024px){
    .iphone {
	background: url(../design/iphone.png) 80% no-repeat;
	height: 360px;
}
}

/* =============================================================================
TOOLTIP
============================================================================= */
.tooltip {
   display:none;
   background:#ccc;
   font-size:12px;
   font-weight:bold;
   min-height:5px;
   width:180px;
   padding:10px;
   color:#434A48;
   border-radius: 8px;
   webkit-border-radius: 8px;
   moz-border-radius: 8px;
}
 
.tooltip-toggler{
   width: 20px;
   height: 20px;
   float: right;
   background: url(../img/icon-question.png) no-repeat;
   cursor: pointer;
   display : inline-block;
   vertical-align : middle;
}

/* =============================================================================
BUTTON REGISTRATION
============================================================================= */
ul.reg-step{
	list-style-type: none;
	margin: 0;
	font-weight: 900;
	color: white;
}

ul.reg-step li{
	display:inline;
}
ul.reg-step li.title a{
	background: rgba(233,65,53,1);
	padding-right: 20px;
	padding-left: 20px; 
	color: white;
}
ul.reg-step li.title a:hover{
	background: rgba(233,65,53,1);
}
ul.reg-step li.selected a{
	background-color: #666666;
	color: #FFF;
}
ul.reg-step li a{
	display: inline-block;
	border-right: 1px solid #DDD;
	padding: 10px;
	text-decoration: none;
	margin-left: -5px
}
ul.reg-step li a:hover{
	background-color: #999;
	color: white;
}
/* =============================================================================
BUTTON ALTERNATIFE
============================================================================= */
.buttonreg {
	display: inline-block;
	position: relative;
	margin-right: -10px;
	color: #CCC;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
	text-decoration: none;
	text-align: center;
	padding: 10px 35px;
	font-size: 12px;
	font-weight: 700;
	font-family: helvetica, arial, sans-serif;
	border-radius: 4px;
	border: 1px solid #bcbcbc;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);

	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}

.buttonreg:hover {
	color: #CCC;
}

.buttonreg:active,.button:active:after,.button:active:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Back Button */
.buttonreg.back {
	border-left: none;
}

.buttonreg.back:after {
	content: '';
	position: absolute;
	height: 50%;
	width: 15px;
	border-left: 1px solid #bcbcbc;

	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	left: -7px;
	top: 0px;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-transform: skew(-35deg, 0);
	-moz-transform: skew(-35deg, 0);
	-o-transform: skew(-35deg, 0);
	-ms-transform: skew(-35deg, 0);
	transform: skew(-35deg, 0);
}

.buttonreg.back:before {
	content: '';
	position: absolute;
	height: 54%;
	width: 15px;
	border-left: 1px solid #bcbcbc;
	bottom: 0px;
	left: -7px;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-transform: skew(35deg, 0);
	-moz-transform: skew(35deg, 0);
	-o-transform: skew(35deg, 0);
	-ms-transform: skew(35deg, 0);
	transform: skew(35deg, 0);

	background-image: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);

	-webkit-box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
	box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
}

/* Next Button */
.buttonreg.next {
	border-right: none;
}

.buttonreg.next:after {
	content: '';
	position: absolute;
	height: 54%;
	width: 15px;
	border-right: 1px solid #bcbcbc;

	background-image: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	right: -7px;
	bottom: 0px;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-transform: skew(-35deg, 0);
	-moz-transform: skew(-35deg, 0);
	-o-transform: skew(-35deg, 0);
	-ms-transform: skew(-35deg, 0);
	transform: skew(-35deg, 0);

	/*-webkit-box-shadow: 2px 1px 2px rgba(100,100,100,0.1);
	box-shadow: 2px 1px 2px rgba(100,100,100,0.1);*/
}

.buttonreg.next:before {
	content: '';
	position: absolute;

	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	height: 50%;
	width: 15px;
	border-right: 1px solid #bcbcbc;
	top: 0px;
	right: -7px;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-transform: skew(35deg, 0);
	-moz-transform: skew(35deg, 0);
	-o-transform: skew(35deg, 0);
	-ms-transform: skew(35deg, 0);
	transform: skew(35deg, 0);
}

@media screen and (min-width: 768px){
	/*login administrator */
	.container-fluid {
		padding-right: 20px;
		padding-left: 20px;
		*zoom: 1;
	}

	.row-fluid-body{
		position: relative;
		left: -105px;
	}

	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.127659574%;
		top: -1px;
	}

	/*LINE 586*/
	.row-fluid .span5 {
		width: 40.425531911%;
	}
}

@media screen and (max-width: 768px){
	/*login administrator */
	.container-fluid {
		padding-right: 20px;
		padding-left: 20px;
		*zoom: 1;
	}

	.row-fluid-body{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 0%;
		top: -1px;
	}

	/*LINE 586*/
	.row-fluid .span5 {
		width: 100%;
	}
}

/*charisma-app.css line 341*/
div.center, p.center, img.center {
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
	display: block;
	text-align: center;
}

/*LINE 1916*/
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/*charisma-app.css line 482*/
.login-header {
	padding-top: 30px;
	height: 120px;
}

/*charisma-app.css line 510*/
.login-box .input-prepend {
	margin-bottom: 10px;
}

/*charisma-app.css line 513*/
.login-box .btn {
	margin-top: 15px;
	width: 100%;
}

.content_box{
	margin: 1em 0px;
	padding: 0px;
	float: left;
	width: 100%;
}

/*LINE 2509*/
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #8bc5e8;
	border: 1px solid #7ed0e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #1c628b;
}

/*LINE 2540*/
.alert-info {
	background-color: #edebe1;
	border-color: #e0d9cb;
	color: #817b58;
}