@media screen and (min-width: 768px){
.ddsmoothmenu-v ul{
	
}
 
.ddsmoothmenu-v ul li{
position: relative;
}

/* Top level menu links style */
.ddsmoothmenu-v ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: white;
text-decoration: none;
padding: 6px;
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
background: #414141; /*background of menu items (default state)*/
color: white;
}


.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: black; 
color: white;
}

.ddsmoothmenu-v ul li a:hover{
background: black; /*background of menu items during onmouseover (hover state)*/
color: white;
}

/*Sub level menu items */
.ddsmoothmenu-v ul li ul{
position: absolute;
width: 170px; /*Sub Menu Items width */
top: 0;
left: 240px !important;
font-weight: normal;
visibility: hidden;}
.ddsmoothmenu-v ul li ul a{
	padding: 5px !important;
} 

.rightarrowclass {float: right;margin-right: 0;margin-left: 0;margin-top: 4px;}
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v ul li a { height: 1%; }
/* End */
}

@media screen and (max-width: 760px){
	.test{
	}

	.ddsmoothmenu-v ul{
	}

	.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
/*		background: black; 
		color: white;
		display: block !important;
	}

/*	.ddsmoothmenu-v ul li a:hover{
		background: black; /*background of menu items during onmouseover (hover state)*/
/*		color: white;
		display: block !important;
	}

	.ddsmoothmenu-v ul li ul{
		top: 0px;
		left: -155px;
		width: 155px;
		display: block !important;
		overflow-y: hidden;
	}

	.ddsmoothmenu-v ul li ul li a{
		padding: 5px !important;
		display: block !important; 
	} */
}

@media screen and (max-height: 600px){
	.test{
		overflow-y: scroll;
		height: 665px;
	}
}

@media screen and (max-height: 568px){
	.test{
		overflow-y: scroll;
		height: 370px;
	}
}

@media screen and (max-height: 480px){
	.test{
		overflow-y: scroll;
		height: 285px;
	}
}

@media screen and (max-height: 380px){
	.test{
		overflow-y: scroll;
		height: 230px;
	}
}

@media screen and (max-height: 320px){
	.test{
		overflow-y: scroll;
		height: 135px;
	}
}

@media screen and (max-height: 240px){
	.test{
		overflow-y: scroll;
		height: 90px;
	}
}

