/* =============================================================================

	1COL.CSS
	version: 1.7
	updated: 2009-03-14, 12:44 GMT+1

============================================================================= */

/* =============================================================================
LAYOUT
============================================================================= */

@keyframes slide{
	from {left:0;}
	to {left:-170px;}
}

@-webkit-keyframes slide{
	from {left:0;}
	to {left:-170px;}
}
@keyframes side{
	from {left:170px;}
	to {left:0;}
}

@-webkit-keyframes side{
	from {left:170px;}
	to {left:0;}
}

#cols {margin:15px; background:none;}

@media screen and (max-width: 760px){
	.button-switch{
		position: fixed;
		top: 295px;
		left:0px;
		z-index: 100;
		animation:side 0.3s;
		-webkit-animation:side 0.3s; /* Safari and Chrome */
	}

	.button-switch-button{
		background-color: rgba(0, 0, 0, 0.64);
		width: 25px;
		height: 65px;
		padding: 22px 0px 22px 0px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 0px;
		border-radius: 0px 10px 10px 0px;
		animation:side 0.3s;
		-webkit-animation:side 0.3s; /* Safari and Chrome */
	}

	#aside {
		position: fixed;
		width:170px; 
		margin-right:0;
		left: 0;
		top:0;
		background-color: #DDD;
		z-index: 100;
		height: 100%;
		left: -170px;
		animation:slide 0.3s;
		-webkit-animation:slide 0.3s;
	}
	#aside ul li a img {margin-right: 10px}
	#aside .desk {
		color: #494949;
		display: block;
		padding: 10px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#aside .boxmg{
		padding: 3px;
		/*background-color: #e94135;*/
		height: 100px;
		}
	#aside .boxmg img{
		height: 92px;
		width: 95px;
		display: block;
		margin: 0 auto;

	} 
	#aside ul {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style:none;
		color:#494949;
	}
	#aside ul li a {
		border-bottom: solid 1px #DDD;
		border-top: solid 1px #DDD;
		background-color: #eee;
		color: #494949;
		display: block;
		padding: 7px 15px;
		text-decoration: none;
		font-size: 9px;
	}
	#aside ul li a:hover {
		background-color: rgba(233,65,53,0.8);
		text-decoration: none;
	}
	#aside ul li a:active, #aside ul li a:focus {background-color: rgba(233,65,53,0.5);}
	.clear {clear:both;}
	.ico-col1 {display:none;}
	#switcher{
		left: 0;
		animation:side 0.3s;
		-webkit-animation:side 0.3s; /* Safari and Chrome */
	}
}

@media screen and (min-width: 760px){
	#aside {
		position: fixed;
		width:240px; 
		margin-right:0;
		left: 0;
		top:0;
		z-index: 100;
		height: 100%;
		position: fixed;
		background-color: #DDD;
		/*box-shadow: inset -8px 0 10px rgba(0,0,0,0.1);*/
	}
	#aside ul li a img {margin-right: 10px}
	#aside .desk {
		color: #494949;
		display: block;
		padding: 10px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#aside .boxmg{
		padding: 3px;
		/*background-color: #e94135;*/
		height: 100px;
		}
	#aside .boxmg img{
		height: 92px;
		width: 95px;
		display: block;
		margin: 0 auto;

	} 
	#aside ul {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style:none;
		color:#fff;
	}
	#aside ul li a {
		border-bottom: solid 1px #DDD;
		border-top: solid 1px #DDD;
		background-color: #eee;
		color:#494949;
		display: block;
		padding: 7px 20px;
		text-decoration: none;
	}
	#aside ul li a:hover {
		background-color: rgba(233,65,53,0.8);
		text-decoration: none;
	}
	#aside ul li a:active, #aside ul li a:focus {background-color: rgba(233,65,53,0.5);}
	.clear {clear:both;}

	#switcher{
		display: none;
	}
}

@media screen and (max-height: 568px){
	.button-switch{
		position: fixed;
		top: 205px;
		left:0px;
		z-index: 100;
		animation:side 0.3s;
		-webkit-animation:side 0.3s; /* Safari and Chrome */
	}

	.button-switch-button{
		background-color: rgba(0, 0, 0, 0.64);
		width: 25px;
		height: 65px;
		padding: 22px 0px 22px 0px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 0px;
		border-radius: 0px 10px 10px 0px;
		animation:side 0.3s;
		-webkit-animation:side 0.3s; /* Safari and Chrome */
	}
}

@media screen and (max-height: 480px){
	.button-switch{
		position: fixed;
		top: 185px;
		left:0px;
		z-index: 100;
		animation:side 0.3s;
		-webkit-animation:side 0.3s; /* Safari and Chrome */
	}

	.button-switch-button{
		background-color: rgba(0, 0, 0, 0.64);
		width: 25px;
		height: 65px;
		padding: 22px 0px 22px 0px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 0px;
		border-radius: 0px 10px 10px 0px;
		animation:side 0.3s;
		-webkit-animation:side 0.3s; /* Safari and Chrome */
	}
}

@media screen and (max-height: 320px){
	.button-switch{
		position: fixed;
		top: 100px;
		left:0px;
		z-index: 100;
		animation:side 0.3s;
		-webkit-animation:side 0.3s; /* Safari and Chrome */
	}

	.button-switch-button{
		background-color: rgba(0, 0, 0, 0.64);
		width: 25px;
		height: 65px;
		padding: 22px 0px 22px 0px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 0px;
		border-radius: 0px 10px 10px 0px;
		animation:side 0.3s;
		-webkit-animation:side 0.3s; /* Safari and Chrome */
	}
}

