/* =============================================================================

	MAIN.CSS
	version: 1.7
	updated: 2009-03-14, 12:44 GMT+1

============================================================================= */

/* =============================================================================
HTML - styles
============================================================================= */
h1, h2, h3, h4, h5, h6, address, blockquote, dl, fieldset, ol, p, ul {margin:15px 0;}
h2{color: white}
a {color:#666666;}
a:hover, a:active, a:focus {color:#df0000;}
/* =============================================================================
HTML - without styles
============================================================================= */

table.nostyle {background:none !important;}

/* =============================================================================
HEADER
============================================================================= */
.header{
	position: fixed;
	width: 100%;
	z-index: 100;
	top:0;
}
	#menu {
		overflow: hidden;
		z-index: 1;
		position: relative;
		/*text-shadow:0 -1px 0 rgba(0,0,0,0.2);*/
		background: url(../img/logo.png) center no-repeat;
		background-size: 70px;
		background-color: rgba(255,255,255,1);
		/*border-bottom: solid 1px rgba(255,255,255,0.1);
		width: 100%;
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
		box-shadow: 0 0 3px rgba(0,0,0,0.3);*/
	}


#menu .nav{
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	font-weight: bold;
	overflow: hidden;
}
#menu .nav ul.log-navi{
	list-style: none;
	line-height: 1.6em;
	background: white;
	overflow: hidden;
	float: right;
	margin: 20px 0;
}
#menu .nav ul.log-navi li {
	float: left;
	height: 35px;
}
#menu .nav ul.log-navi li img{
	margin: 0px;
	width: 35px;
	border-radius: 50%;
}
#menu .nav ul.log-navi .logout{
	padding: 0;
	float: right;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background: #CCC;
	/*background: #64B2FF;*/
}
#menu .nav ul.log-navi .logout:hover{
	background: #c60f13;
}
#menu .nav ul.log-navi .logout img{
	padding: 8px;
}
#menu .nav ul.log-navi li a {
	color:#494949;
	cursor: pointer;
	font-size: 1.1em;
	line-height: 2.6em; 
	font-weight: bold;
	text-decoration: none;
	padding: 0 15px;
	display: block;
}

#menu .nav .header-logo{
	margin: 0px auto;
	height: 90px;
	display: block;
}
#menu .nav .header-per{
	height: 70px;
	/*margin-left: 35px;
	margin-top: 2px;
	float: left;*/
}
#menu .nav ul li a:active, #menu .navi ul li a:focus {color:rgba(255,255,255,0.85);}
#navigation {
	padding: 0.5em 0;
	z-index: 1;
	position: relative;
	background-color: #398EC7;
	color: white;
}
#navigation .nav{
	font-weight: bold;
	overflow: hidden;
}	
#navigation .nav .button{
	margin: 2px;
}	
/*logo perhebat */
.perhebat_link{
  float: right;
  margin-top: 20px;
}

.logo-perhebat{
  background: url(../img/perhebat.png) 80% no-repeat;
  margin: 5px 0px 0px 300px;
  height:90px;
}

/* =============================================================================

/* =============================================================================
NAVIGATION
============================================================================= */
/*#aside {
	position: fixed;
	width:240px; 
	margin-right:0;
	left: 0;
	top:0;
	z-index: 100;
	height: 100%;
	position: fixed;
	background-color: #232323;
	box-shadow: inset -8px 0 10px rgba(0,0,0,0.1);
}
#aside ul li a img {margin-right: 10px}
#aside .desk {
	color: #FFF;
	display: block;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
#aside .boxmg{
	padding: 3px;
	background-color: #e94135;
	height: 100px;
	}
#aside .boxmg img{
	height: 92px;
	width: 95px;
	display: block;
	margin: 0 auto;

} 
#aside ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style:none;
	color:#fff;
}
#aside ul li a {
	border-bottom: solid 1px #232323;
	border-top: solid 1px #232323;
	background-color: #282828;
	color:#fff;
	display: block;
	padding: 7px 20px;
	text-decoration: none;
}
#aside ul li a:hover {
	background-color: rgba(233,65,53,0.8);
	text-decoration: none;
}
#aside ul li a:active, #aside ul li a:focus {background-color: rgba(233,65,53,0.5);}*/
.clear {clear:both;}
/* =============================================================================
CONTENT
============================================================================= */
#content{
	background-color: #f8f8f8;
	margin-top: 115px;
}
	#content h1{
	 	margin: 1.0em 0;
		background-color:#398EC7;
		/*background-color:rgba(233,65,53,1);*/
		/*border-radius: 0 0 10px 10px;*/
	 	/*border: 1px solid #CCC;*/
	 	color: white;
	 	display: block;
	 	padding: 5px 10px;
	 	font-size: 18px;
	}

#warper{
	background-color: #fff;
	/*background-color: #f6f6f6;
	border-bottom: solid 1px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);*/
}
.sitemap{background-color: #DDD;font-weight: bold;color: #666;padding: 10px;}

@media screen and (min-width: 768px){
	#page{
		border: #CCC;
		background-color: white;
		margin: 0 0 1.5em 0;
		border: 1px solid #d9d9d9;
		max-width: 90.0em;
	}
}

@media screen and (max-width: 768px){
	#page{
		background-color: white;
		margin: 0 0 1.5em 0;
		border: 1px solid #ddd;
		max-width: 90.0em;
		font-size: 9px;
	}
}

#page form:before{
	content: "Form Data";
	padding: 10px;
	margin-bottom: 1.0em;
	display: block;
	/*background: #2980B9;*/
	background: rgba(233,65,53,1);
	font-weight: bold;
	color: white;
	font-size: 14px;
}
#tab{
	background-color: white;
	margin: 1.5em 0 0 0;
	border: 1px solid #ddd;
	max-width: 90.0em;
}
#content-chart{
	border: #CCC;
	background-color: white;
	margin: 2.0em;
	border: 1px solid #d9d9d9;
	max-width: 90.0em;
}
#content-chart form:before{
	content: "Form Data";
	padding: 10px;
	margin-bottom: 1.0em;
	display: block;
	background: rgba(233,65,53,1);
	font-weight: bold;
	color: white;
	font-size: 14px;
}

/* =============================================================================
OTHER STYLES
============================================================================= */
#add{
	display: inline !important;
	position: absolute;
	z-index: 1;
	right: 25px;
}
.bigger {font-size:120%;}
.smaller {font:85%/1.2 "tahoma",sans-serif;}
.red {color: red}
.block-ita{
	color: #999;
	padding: 0 0.65em;
	font-weight: 400;
	font-style: italic;
}
.qoute{
	text-align: center;
	color: white;
	padding-top: 40px;
	font-style: italic;
	font-weight: 600;
}
.adv{background:white;text-align: center;padding-top:60px;margin: 0px auto;display: block;width: 80%;overflow: hidden;}
.head-box{float: left;text-align: center;font-weight:bold; }
.head-box img{display:block;height: 60px;margin: 15px}
.malay-label{font-weight: 100;}

.biz-table{
}

@media screen and (min-width: 1024px){
    .iphone {
	background: url(../design/iphone.png) 80% no-repeat;
	height: 360px;
}
}

/* =============================================================================
TOOLTIP
============================================================================= */
.tooltip {
   display:none;
   background:#ccc;
   font-size:12px;
   font-weight:bold;
   min-height:5px;
   width:180px;
   padding:10px;
   color:#434A48;
   border-radius: 8px;
   webkit-border-radius: 8px;
   moz-border-radius: 8px;
}
 
.tooltip-toggler{
   width: 20px;
   height: 20px;
   float: right;
   background: url(../img/icon-question.png) no-repeat;
   cursor: pointer;
   display : inline-block;
   vertical-align : middle;
}

.notif_friend_request,
.notif_inbox{
		background:red;
		font-size:8pt;
		padding:2px 6px;
		color:white;
		border-radius:20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
		-khtml-border-radius:20px;
		-ms-border-radius:20px;
		margin-left:5px;
}

.article_detail,
.message_detail{
	padding:15px 10px;
}
/* =============================================================================
BUTTON REGISTRATION
============================================================================= */
ul.reg-step{
	list-style-type: none;
	margin: 0;
	font-weight: 900;
	color: white;
	overflow: hidden;
	display: inline;
}

ul.reg-step li{
	float: left;
}
ul.reg-step li.title a{
	background: rgba(233,65,53,1);
	padding-right: 20px;
	display: block;
	padding-left: 20px; 
	color: white;
}
ul.reg-step li.title a:hover{
	background: rgba(233,65,53,1);
}
ul.reg-step li.selected a{
	background-color: #ddd;
	/*color: #FFF;*/
}
ul.reg-step li a{
	display: inline-block;
	border-right: 1px solid #DDD;
	padding: 10px;
	text-decoration: none;
}
ul.reg-step li a:hover{
	background-color: #999;
	color: white;
}
/* =============================================================================
BUTTON ALTERNATIFE
============================================================================= */
.buttonreg {
	display: inline-block;
	position: relative;
	margin-right: -10px;
	color: #CCC;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
	text-decoration: none;
	text-align: center;
	padding: 10px 35px;
	font-size: 12px;
	font-weight: 700;
	font-family: helvetica, arial, sans-serif;
	border-radius: 4px;
	border: 1px solid #bcbcbc;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);

	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}

.buttonreg:hover {
	color: #CCC;
}

.buttonreg:active,.button:active:after,.button:active:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Back Button */
.buttonreg.back {
	border-left: none;
}

.buttonreg.back:after {
	content: '';
	position: absolute;
	height: 50%;
	width: 15px;
	border-left: 1px solid #bcbcbc;

	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	left: -7px;
	top: 0px;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-transform: skew(-35deg, 0);
	-moz-transform: skew(-35deg, 0);
	-o-transform: skew(-35deg, 0);
	-ms-transform: skew(-35deg, 0);
	transform: skew(-35deg, 0);
}

.buttonreg.back:before {
	content: '';
	position: absolute;
	height: 54%;
	width: 15px;
	border-left: 1px solid #bcbcbc;
	bottom: 0px;
	left: -7px;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-transform: skew(35deg, 0);
	-moz-transform: skew(35deg, 0);
	-o-transform: skew(35deg, 0);
	-ms-transform: skew(35deg, 0);
	transform: skew(35deg, 0);

	background-image: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);

	-webkit-box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
	box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
}

/* Next Button */
.buttonreg.next {
	border-right: none;
}

.buttonreg.next:after {
	content: '';
	position: absolute;
	height: 54%;
	width: 15px;
	border-right: 1px solid #bcbcbc;

	background-image: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
	right: -7px;
	bottom: 0px;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-transform: skew(-35deg, 0);
	-moz-transform: skew(-35deg, 0);
	-o-transform: skew(-35deg, 0);
	-ms-transform: skew(-35deg, 0);
	transform: skew(-35deg, 0);

	/*-webkit-box-shadow: 2px 1px 2px rgba(100,100,100,0.1);
	box-shadow: 2px 1px 2px rgba(100,100,100,0.1);*/
}

.buttonreg.next:before {
	content: '';
	position: absolute;

	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
	height: 50%;
	width: 15px;
	border-right: 1px solid #bcbcbc;
	top: 0px;
	right: -7px;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	-webkit-transform: skew(35deg, 0);
	-moz-transform: skew(35deg, 0);
	-o-transform: skew(35deg, 0);
	-ms-transform: skew(35deg, 0);
	transform: skew(35deg, 0);
}

@media screen and (min-width: 768px){
	/*login administrator */
	.container-fluid {
		padding-right: 20px;
		padding-left: 20px;
		*zoom: 1;
	}

	.row-fluid-body{
		position: relative;
		left: -105px;
	}

	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.127659574%;
		top: -1px;
	}

	/*LINE 586*/
	.row-fluid .span5 {
		width: 40.425531911%;
	}
}

@media screen and (max-width: 768px){
	/*login administrator */
	.container-fluid {
		padding-right: 20px;
		padding-left: 20px;
		*zoom: 1;
	}

	.row-fluid-body{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 0%;
		top: -1px;
	}

	/*LINE 586*/
	.row-fluid .span5 {
		width: 100%;
	}
}

/*charisma-app.css line 341*/
div.center, p.center, img.center {
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
	display: block;
	text-align: center;
}

/*LINE 1916*/
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/*charisma-app.css line 482*/
.login-header {
	padding-top: 30px;
	height: 120px;
}

/*charisma-app.css line 510*/
.login-box .input-prepend {
	margin-bottom: 10px;
}

/*charisma-app.css line 513*/
.login-box .btn {
	margin-top: 15px;
	width: 100%;
}

.content_box{
	margin: 1em 0px;
	padding: 0px;
	float: left;
	width: 100%;
}

/*LINE 2509*/
.alert {
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #8bc5e8;
	border: 1px solid #7ed0e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #1c628b;
}

/*LINE 2540*/
.alert-info {
	background-color: #edebe1;
	border-color: #e0d9cb;
	color: #817b58;
}

/*===============BUTTON ACTION==============*/
.send_message{
	width: 20px;
	height: 20px;
	background: url(../img/icon/mail_write.png);
	background-size: 20px;
	display: inline-block;
	float:left;
}

.add_friend{
	width:20px;
	height:20px;
	background:url(../img/icon/user_add.png);
	background-size: 20px;
	display:inline-block;
	float:left;
	margin-left:5px;
}

.pending_friend{
	width:20px;
	height:20px;
	background:url(../img/icon/user_warning.png);
	background-size: 20px;
	display:inline-block;
	float:left;
	margin-left:5px;
}

.friend{
	width:20px;
	height:20px;
	background:url(../img/icon/user_manage.png);
	background-size: 20px;
	display:inline-block;
	float:left;
	margin-left:5px;
}

/*Highlight Profile Landing Page*/
.highlight-profile-wrap{
	background:#fff;margin:20px 0;
}

.profile-row{
	width:700px;margin:0 auto;
}

.profile-column{
	width:330px;height:310px;margin:5px;display:inline-block;background:#f6f6f6;color:#666;font-size:12px;font-weight:bold;padding:10px 5px;
}

.profile-title, .profile-title a{
	color:#2C30AB !important;font-size:16px;
}

.profile-image{
	width:100px;margin:10px 5px 0 5px;float:left
}

.profile-desc{
	margin:8px 0 !important;
	min-height:50px;
}

.profile-button-wrap{
	display:block;margin:100px 20px 0 20px;
}