/* =============================================================================

	2COL.CSS
	version: 1.7
	updated: 2009-03-14, 12:44 GMT+1

============================================================================= */

/* =============================================================================
LAYOUT
============================================================================= */


#cols {position:relative; margin:15px 0; padding-right:15px; background:url(../img/content.gif) 230px 0 repeat-y;}

	.asidered{ 
		background: rgba(233,65,53,1) !important;
	}
	#aside {
		/*border-radius: 10px;*/
		overflow: hidden;
		margin-top: 1.0em;
		height: 100%;
		background-color: white;
		border: 1px solid #EEE;
		/*padding-bottom: 2.5em;*/
	}
	#aside ul li a img {margin-right: 10px}
	#aside .desk {
		color: rgba(233,65,53,1);
		border-bottom: solid 1px #ddd;
		display: block;
		padding: 20px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#aside .boxmg{
		/*padding: 3px;
		/*background-color: #e94135;*/
		/*height: 100px;*/
		}
	#aside .boxmg img{
		height: 53px;
		width: 53px;
		position: absolute;
		right: 13px;
		top: 13px;
	} 
	#aside ul {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style:none;
		color:#fff;
	}
	#aside ul li a {
		border-bottom: solid 1px #ddd;
		background-color: #fff;
		color:#494949;
		display: block;
		font-weight: bold;
		padding: 7px 35px;
		text-decoration: none;
	}
	#aside ul li form {
		border-bottom: solid 1px #ddd;
		background-color: #fff;
		color:#494949;
		display: block;
		padding: 7px 20px;
		text-decoration: none;
	}
	#aside ul li a:hover {
		background-color: #eeeeee;
		text-decoration: none;
		padding-left: 40px;
		color: rgba(233,65,53,1.0)
	}
	#aside ul li a:active, #aside ul li a:focus {background-color: rgba(233,65,53,0.5);}
	.clear {clear:both;}

	#switcher{
		display: none;
	}
/* =============================================================================
MESSAGES
============================================================================= */
.inbox{
	background: url(../img/icon/mail_receive.png) 10px 5px no-repeat;
	background-size: 20px;	
}
.outbox{
	background: url(../img/icon/mail_send.png) 10px 5px no-repeat;
	background-size: 20px;	
}
.edit{
	background: url(../img/icon/document_edit.png) 10px 5px no-repeat;
	background-size: 20px;	
}
.logout{
	background: url(../img/icon/user_delete.png) 10px 5px no-repeat;
	background-size: 20px;	
}
.message{
	background: url(../img/icon/message.png) 10px 5px no-repeat;
	background-size: 20px;	
}
.request_friend{
	background:url(../img/icon/user_warning.png) 10px 5px no-repeat;
	background-size: 20px;
}