@import url(https://fonts.googleapis.com/css?family=Karla|Ubuntu);
/*LINE READED IN CHROME*/

/*LINE 31*/
body {
	margin: 0;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	background: url("../img/debut_light.png");
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.2)
}

/*LINE 40*/
a {
	color: #ec5c5c;
	text-decoration: none;
}

/*LINE 213*/
.container-fluid {
	padding-right: 20px;
	padding-left: 20px;
	*zoom: 1;
}

.row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.127659574%;
	top: -1px;
}

/*LINE 244*/
h1, h2 {
	margin: 0;
	font-family: 'Karla', sans-serif;
	font-weight: bold;
	color: #317eac;
	text-rendering: optimizelegibility;
}

/*LINE 260*/
h1 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 15px;
}

/*LINE 268*/
h2 {
	font-size: 24px;
	line-height: 36px;
}

/*LINE 310*/
ul, ol {
	padding: 0;
	margin: 0 0 9px 25px;
}

/*LINE 480*/
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

/*LINE 504*/
label, input, button, select, textarea {
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}

/*LINE 512*/
input, button, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*LINE 515*/
label {
	display: block;
	margin-bottom: 5px;
}

/*LINE 535*/
select, textarea, input[type="text"], input[type="password"], .uneditable-input {
	display: inline-block;
	height: 18px;
	padding: 4px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
}

/*LINE 545*/
input, textarea {
	width: 210px;
}

/*LINE 548*/
textarea {
	height: auto;
}

/*LINE 701 FROM NOTEPAD++*/
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, .uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

/*LINE 566*/
.row-fluid .span10 {
	width: 82.905982906%;
}

/*LINE 566*/
input[type="text"], input[type="password"], input[type="email"], input[type="search"], .uneditable-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

/*LINE 586*/
.row-fluid .span5 {
	width: 40.425531911%;
}

/*LINE 619*/
input[type="submit"], input[type="checkbox"] {
	width: auto;
}

/*LINE 636*/
select {
	border: 1px solid #bbb;
	height: auto;
	width: 220px;
}

/*LINE 643*/
input.span6, textarea.span6, .uneditable-input.span6 {
	width: 625px;
}

/*LINE 702*/
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
	float: none;
	margin-left: 0;
}

/*LINE 711*/
.input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .input-prepend input[class*="span"], .input-prepend .uneditable-input[class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .input-append [class*="span"] {
	display: inline-block;
}

/*LINE 933*/
.input-prepend input, .input-append input, .input-prepend select, .input-append select, .input-prepend .uneditable-input, .input-append .uneditable-input {
	position: relative;
	margin-bottom: 0;
	vertical-align: middle;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

/*LINE 955*/
.input-prepend .add-on, .input-append .add-on {
	display: inline-block;
	width: auto;
	height: 18px;
	min-width: 16px;
	padding: 4px 5px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

/*LINE 984*/
.input-prepend .add-on, .input-prepend .btn {
	margin-right: -1px;
}

/*LINE 1362*/
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

/*LINE 1401*/
.icon-user {
	background-position: -168px 0;
}

/*LINE 1476*/
.icon-lock {
	background-position: -287px -24px;
}

/*LINE 1916*/
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/*LINE 2051*/
.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

/*LINE 2126*/
.btn-primary, .btn-primary:hover{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/*LINE 2509*/
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #8bc5e8;
	border: 1px solid #7ed0e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #1c628b;
}

/*LINE 2540*/
.alert-info {
	background-color: #edebe1;
	border-color: #e0d9cb;
	color: #817b58;
}

/*LINE 4127*/
.btn {
	display: inline-block;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

/*LINE 4141*/
.btn:hover {
	background-position: 0 0;
}

/*LINE 4144*/
.btn-primary {
	background-color: #dd4747;
	background-image: -moz-linear-gradient(top, #ec5c5c, #dd4747);
	background-image: -ms-linear-gradient(top, #ec5c5c, #dd4747);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec5c5c), to(#dd4747));
	background-image: -webkit-linear-gradient(top, #ec5c5c, #dd4747);
	background-image: -o-linear-gradient(top, #ec5c5c, #dd4747);
	background-image: linear-gradient(top, #ec5c5c, #dd4747);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4747', endColorstr='#ec5c5c', GradientType=0);
	border-color: #ec5c5c #ec5c5c #dd4747;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	margin-right: 5px;
}

/*LINE 4166*/
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #dd4747;
}

/*LINE 4174*/
.searchbottom {
	position: relative;
	bottom: 5px;
	left: 5px;
	font-weight: bold;
	padding: 10px;
	font-size: 15px;
}

/*LINE 4328*/
i[class^="icon-"] {
	opacity: 0.8;
}

.dataTables_filter input[type="text"]{
	margin: 3px;
}

/*charisma-app.css line 126*/
.box {
	padding: 30px 25px;
	background-color: white;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

/*charisma-app.css line 153*/
.box-search {
	padding: 5px;
	background-color: #eee;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

/*charisma-app.css line 341*/
div.center, p.center, img.center {
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
	display: block;
	text-align: center;
}

/*charisma-app.css line 353*/
.clear {
	clear: both;
	width: 0px;
	height: 0px;
}

/*charisma-app.css line 424*/
div.dataTables_length select {
	width: 50px;
}

/*charisma-app.css line 427*/
.dataTables_filter input, .dataTables_length select {
	display: inline-block;
	margin-bottom: 0;
}

/*charisma-app.css line 482*/
.login-header {
	padding-top: 30px;
	height: 120px;
}

/*charisma-app.css line 510*/
.login-box .input-prepend {
	margin-bottom: 10px;
}

/*charisma-app.css line 513*/
.login-box .btn {
	margin-top: 15px;
	width: 100%;
}

.content_box{
	margin: 1em 0px;
	padding: 0px;
	float: left;
	width: 100%;
}

.box_left{
	margin: 0px;
	padding: 15px 15px 3em;
	float: left;
	width: 660px;
	background-color: white;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box_right{
	background: #FFFFFF;
	width: 225px;
	float: right;
	padding: 15px;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}