/* =============================================================================

	STYLE.CSS
	version: 1.6
	updated: 2009-03-06, 13:00 GMT+1

============================================================================= */

/* =============================================================================
HTML - styles
============================================================================= */

body {background-color:#E6EAE9; color:#303030;}
a {color:#0085cc;}
a:hover, a:active, a:focus {color:#df0000;}
/* =============================================================================
HTML - without styles
============================================================================= */

table.nostyle th, dl.nostyle dt {color:#303030 !important;}

/* =============================================================================
LAYOUT
============================================================================= */

#tray {
	background-color: #1790e0;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1484CE', endColorstr='#FF1274B5');
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1790e0), color-stop(100%, #137abe));
	background-image: -webkit-linear-gradient(top, #1790e0 0%,#137abe 100%);
	background-image: -moz-linear-gradient(top, #1790e0 0%,#137abe 100%);
	background-image: -o-linear-gradient(top, #1790e0 0%,#137abe 100%);
	background-image: linear-gradient(top, #1790e0 0%,#137abe 100%);
	-webkit-box-shadow: 0 2px 0 #10659d;
	box-shadow: 0 2px 0 #10659d;
	border-bottom: solid 1px rgba(255,255,255,0.1);
	font-size: 13px;
	}
#tray a, #tray strong {color:#fff; text-decoration:none;}
#tray a:hover, #tray a:active, #tray a:focus {color:#b4e3ff; font-style: underline;}

/* =============================================================================
OTHERS
============================================================================= */
#aside {
	position: fixed;
	width:240px; 
	margin-right:0;
	left: 0;
	top:0;
	background-color: #333;
	box-shadow: inset -8px 0 10px rgba(0,0,0,0.1);
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}
#aside ul{	
	border-top: solid 1px rgba(30,30,30,0.125);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	border-right-color: transparent !important;
	border-left-color: transparent !important;
	border-bottom-color: transparent !important;
	color:#fff;
}
#aside ul li a {	
	border-bottom: solid 1px rgba(30,30,30,0.125);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	border-right-color: transparent !important;
	border-left-color: transparent !important;
	border-top-color: transparent !important;
	color:#fff;
}
#aside ul li a:hover{
	background-color: rgba(255,255,255,0.1);
	text-decoration: none;
}
#aside ul li a:active, #aside ul li a:focus {color:#CCC;}
#aside ul ul li a, #aside ul li#submenu-active ul li a {
	border-bottom: 1px solid #CFCFCF;
	background-color: whiteSmoke;
	border-radius: 0px;
	color: #303030;
}
#aside ul li ul li a {background-color:#e3e3e3;}
#aside ul ul li a:hover, #aside ul ul li a:active, #aside ul ul li a:focus, #aside ul li#submenu-active ul li a:hover, #aside ul li#submenu-active ul li a:active, #aside ul li#submenu-active ul li a:focus {color:#df0000;}
